---
import type { MarkdownHeading } from 'astro'

interface TocItem extends MarkdownHeading {
  children: TocItem[]
}

interface Props {
  toc: TocItem[]
  depth?: number
  isMobile?: boolean
}

const { toc, depth = 0 } = Astro.props
---

<ul>
  {
    toc.map((heading) => (
      <li>
        <a href={'#' + heading.slug}>{heading.text}</a>
        {heading.children.length > 0 && <Astro.self toc={heading.children} depth={depth + 1} />}
      </li>
    ))
  }
</ul>

<style define:vars={{ depth }}>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding-top: 0.5rem;
    margin-top: 0;
  }

  a {
    text-decoration-line: none;
    color: var(--muted-foreground);
    display: inline-block;
    text-decoration: inherit;
  }

  a:hover {
    color: var(--foreground);
  }

  a[aria-current] {
    color: var(--foreground);
  }

  ul > li > ul {
    --pad-inline: 0.5rem;
    padding-inline: calc((1rem - var(--pad-inline)) / var(--depth) + var(--pad-inline)) var(--pad-inline);
  }
</style>
