---
import '@astrojs/starlight/style/markdown.css'
---

<div class="makrdown-wrapper">
  <div class="sl-markdown-content">
    <slot />
  </div>
</div>

<style>
  .makrdown-wrapper {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
</style>
