---
import type { Props } from '@astrojs/starlight/props'

const {
  entry: {
    data: { title, template, description },
  },
} = Astro.props
---

{
  template === 'doc' && (
    <div class="breadcrumb">
      <div class="truncate">Docs</div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="m9 18 6-6-6-6" />
      </svg>
      <div class="text-foreground">{title}</div>
    </div>
  )
}

<h1 id="_top">{title}</h1>
{description && <p>{description}</p>}

<style>
  .breadcrumb {
    color: hsl(var(--muted-foreground));
    line-height: 1;
    font-size: 0.875rem;
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .breadcrumb svg {
    width: 0.875rem;
    height: 0.875rem;
    margin-left: 0.5rem;
  }

  .text-foreground {
    color: hsl(var(--foreground));
    margin-left: 0.5rem;
  }

  h1 {
    letter-spacing: -0.025em;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    scroll-margin: 5rem;
    margin: 0;
  }

  p {
    margin: 0;
    margin-top: 0.5rem;
    color: hsl(var(--muted-foreground));
    font-size: 1rem;
    line-height: 1.5rem;
    white-space: nowrap;
  }
</style>
